{% component 'components:view.rows' %}
    {% set ads = createModel('Ads','ads').where('id','>',0) %}
    {% set items = paginate(ads,'share') %}  
    {% for item in items.getItems() %} 
    <tr id="row_{{ item.uuid }}">
        <td>
            <button class="ui icon mini basic button edit-button" {{ buttons.edit.title|attr('title') }} uuid="{{ item.uuid }}">
                <i class="icon edit"></i>
            </button> 
            <button class="ui icon mini basic button delete-button" {{ buttons.delete.title|attr('title') }} uuid="{{ item.uuid }}" data-title="{{ item.title }}">
                <i class="icon trash orange"></i>
            </button> 
        </td>
        <td>
            {{ component('components:status.dropdown',{ status: item.status, uuid: item.uuid, skip: [2,3,4,5] }) }}         
        </td>       
        <td>
            <div class="ui basic label">
                {{ item.slug }}
            </div>
        </td>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
    </tr>
    {% endfor %}
{% endcomponent %}