{% if uuid is not empty %}
    {% set ads = createModel('Ads','ads').findById(uuid) %} 
{% endif %}
<form class="ui equal width form" id="ads_form">  
    <input type="hidden" name="uuid" id="uuid" value="{{ uuid }}">    
    <div class="field required">
        <label>{{ fields.title.label }}</label>
        <input rule="minLength[2]" type="text" name="title" id="title" {{ fields.title.placeholder|attr('placeholder') }} value="{{ ads.title }}">  
    </div> 
    <div class="field required">
        <label>{{ fields.type.label }}</label>
        {{ component('ads::admin.type',{ selected: ads.type }) }}   
    </div> 
    <div class="field">
        <label>{{ fields.description.label }}</label>
        <textarea name="description" id="description" rows="2" cols="2" {{ fields.description.placeholder|attr('placeholder') }}>{{ ads.description }}</textarea>        
    </div> 
    {% if demo_mode != true %}                 
        {{ component('semantic~form.footer') }}
    {% else %}
        <p class="p-4 bg-gray-200 text-red-800 rounded">Disabled in demo mode.</p>   
    {% endif %}   
</form>